head
  title test
  meta(charset='UTF-8')
  meta(content='', name='description')
  meta(content='', name='author')
  meta(content='3 days', name='revisit-after')

  // build:css /styles/main.css
  link(href='/styles/main.css', rel='stylesheet')
  // endbuild